.featuresHeader {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.featuresWrapper {
  display: flex;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featureIcon {
  font-size: 56px;
}

.featureTitle {
  font-size: 24px;
  font-weight: 600;
}

.featureSubtitle {
  font-weight: 300;
  margin-top: 12px;
}

.statisticsWrapper {
  display: flex;
  margin-bottom: 40px;
}

.statisticsWrapper2 {
  display: flex;
  flex-direction: row-reverse;
}

.statisticsWrapper2 .statisticHeader {
  text-align: right;
}

.statisticHeadings {
  width: 50%;
}

.statisticHeader {
  color: #6b757b;
  font-size: 32px;
  font-weight: 600;
}

.statisticDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 32px;
  background-color: #f1f6f4;
}

.statisticData {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.statFigure {
  color: #0365f2;
  font-size: 20px;
  font-weight: 700;
}

.statTitle {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
  line-height: 1;
}
