.footer {
    background-color: #f1f6f4;
}

.container {
    padding: 40px 0;
    width: 100%;
}


.footerTopWrapper {
    display: flex;
    justify-content: space-around;
}

.footerLinkTitle {
    font-size: 16px;
    font-weight: 800;
}

.footerCopyrightWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

