.landing {
    margin-left: 150px
}

.landingWrapper {
  display: flex;
}

.landingIntro,
.landingImgWrapper {
  width: 50%;
}

.landingIntro {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.landingHeader {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
  text-align: start
}

.landingPara {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 12px;
}

.landingBtn {
  background-color: #2bd97c;
  color: black;
  border: none;
  width: 100%;
  max-width: 300px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.landingBtn:hover {
    background-color:#20ba68;
}

