.nav {
  height: 80px;
  margin: 0 80px
}

.li {
  padding: 8px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.nav__logo__wrapper {
  max-width: 200px;
}

.nav__logo {
  width: 100%;
  height: 100%;
}

/* Target the last 3 children (excluding the first) */
.navList li:nth-child(n + 2) {

  cursor: not-allowed;
}

.navList li:first-child {
  transition: color 0.3s ease;
}

.navList li:first-child:hover {
  color: #2bd97c;
}