.numbersWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.number {
    background-color: #d7e9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    padding-bottom: 40px;
    border-radius: 12px;
}

.numberIcon {
    display: flex;
    align-items: center;
    height: 60px;
    gap: 4px;
}

.numberIcon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numberStarIcon svg{
    width: 20px;
    height: 20px;
}


.numberTitle {
    font-size: 40px;
    color: #032b41;
    font-weight: 600;
    margin-bottom: 16px;
}

.numberSubtitle {
    color: #394547;
    font-weight: 300;
}