.reviewHeader {
display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.reviewDetails {
    display: flex;
    align-items: center;

}

.rating {
    display: flex;
    color: #0365f2;
}