.reviewHeader {
display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.reviewWrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.reviewDetails {
    display: flex;
    align-items: center;

}

.rating {
    display: flex;
    color: #0365f2;
}