.landing {
    margin-left: 150px
}

.landingWrapper {
  display: flex;
}

.landingIntro,
.landingImgWrapper {
  width: 50%;
}

.landingIntro {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.landingHeader {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
  text-align: start
}

.landingPara {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 12px;
}

.landingBtn {
  max-width: 300px;
  padding: 12px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}