.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalWrapper {
    background: white;
    border-radius: 8px;
    padding: 24px;
    max-width: 400px;
    width: 90%;
    max-height: 90vh;
}

.modalTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color:#032b41;
    margin-bottom: 24px;
}

.modalBreak {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.modalBtn {
    color: white;
    position: relative;
}

.modalGuestBtn {
    background-color: #3A579D;
}

.modalGuestBtn:hover {
    background-color: #3a589d53
}

.modalGoogleBtn {
    background-color: #4285F4;
}

.modalBtnIcon {
    position: absolute;
    left: 10px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleIconWrapper {
    background-color: white;
    border-radius: 4px;
    height: 30px;
    width: 30px;
}

.modalMainForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formBox {
    height: 40px;
    border: 2px solid #bac8ce;
    border-radius: 4px;
    color: #394547;
    padding: 0 12px;
}

.forgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4285F4;
    font-size: 14px;
}

.newAccountBtn {
    height: 40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-weight: 300;
    font-size: 16px;
}