.searchBar {
    border-bottom: 1px solid lightgray;
}

.searchWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 16px 32px 16px;
}

.searchContent {
    display: flex;;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 340px;
}

.searchInput {
    height: 40px;
    width: 100%;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    font-size: 14px;
}

.searchIcon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    height: 100%;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
    font-size: 24px;
}

