@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

.container {
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
}

.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.button {

    border: none;
    outline: none;
    background-color: transparent;
}

.btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    transition: background-color 200ms;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.sectionHeader {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.foryou__header {
    font-size: 20px;
    font-weight: 700;
}
/*

For-you

*/

.bookList {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  margin-bottom: 32px;
}

.book {
    padding: 32px 12px 12px;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
}

.book:hover {
  background-color: #f1f6f4;
}

.bookName {
  font-weight: 600;
  font-weight: 16px;
  color: #032b41;
  margin-bottom: 8px;
}

.bookAuthor {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}



