@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 40px 0;
  width: 100%;
  margin: 0 auto;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  transition: background-color 200ms;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.sectionHeader {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.section-header {
 font-size: 18px;
 font-weight: 700;
 margin: 12px 0;
}

.foryou__header {
  font-size: 20px;
  font-weight: 700;
}
/*

For-you

*/

.bookList {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  margin-bottom: 32px;
}

.book {
  padding: 32px 12px 12px;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.book:hover {
  background-color: #f1f6f4;
}

.bookName {
  font-weight: 600;
  font-weight: 16px;
  color: #032b41;
  margin-bottom: 8px;
}

.bookAuthor {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}

/*

Book-Page

*/

.inner-book {
  display: flex;
}

.inner-book__detail__wrapper {
  width: 100%;
}

.inner-book__image__wrapper {
  width: 300px;
  height: 300px;
  min-width: 300px;
}

.inner-book__image {
  width: 100%;
  height: 100%;
}

.inner-book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
}

.inner-book__author {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__subtitle {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
  line-break: none;
}

.inner-book__detail {
  border-bottom: 1px solid lightgray;
}

.inner-book__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 16px;
}

.inner-book__stat__icon {
  font-size: 20px;
}

.inner-book__stat {
  display: flex;
  align-items: center;
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  gap: 4px;
}

.user-option__btns {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.user-option__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity .2s;
}

.user-option__btn:hover {
  opacity: .8
}

.user-option__bookmark {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #0365f2;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  cursor: pointer;
  transition: color .2s;
}

.user-option__bookmark:hover {
  color: #044298;
}

.inner-book__description__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.inner-book__description__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
}

.inner-book__description__text {
  margin-bottom: 16px;
  line-height: 1.5;
}

/*

Player page

*/

.book-content {
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.book-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

.book-summary {
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}